<h1>Cars within 50 Kilometers</h1>

<% @nearby_cars.each do |car| %>
  <div class="car-thumbnail">
    <img src="<%= car.images.first.url %>" alt="<%= car.make %> <%= car.model %>">
    <p><%= car.make %> <%= car.model %></p>
  </div>
<% end %>
