<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Car Rental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
    .car-thumbnail {
      display: inline-block;
      text-align: center;
      margin: 10px;
    }

    .car-thumbnail img {
      width: 150px;
      height: 100px;
    }

    img {
      max-width: 480px;
      max-height: 360px;
    }
  </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
